<div id="app">
  <app-logo></app-logo>
  <app-loader *ngIf="loading" [loading]="loading"></app-loader>
  <app-error *ngIf="errorMessage" [errorMessage]="errorMessage"></app-error>
  <app-invalid-config *ngIf="invalidConfig"></app-invalid-config>

  <div class="cards">
    <ng-container *ngFor="let project of projects">
      <app-card [status]="project.lastBuild ? project.lastBuild.status : UNKNOWN"
                *ngIf="feConfig.showProjectsWithoutBuilds || project.lastBuild">
        <app-build-card [build]="project"
                        link="https://{{gitlab}}/{{project.url}}">
        </app-build-card>
      </app-card>
    </ng-container>
  </div>

  <div class="cards">
    <app-card status="success" *ngIf="feConfig && feConfig.showSemanticsCard">
      <app-chart-card [data]="commitSummary"></app-chart-card>
    </app-card>
  </div>
</div>
