div {
  width: 300px;
  color: #DB2828;
  background-color: #FFE8E6;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #DB2828 inset, 0 0 0 0 transparent;
  min-height: 1em;
  margin: 1em auto;
  padding: 1em 1.5em;
  line-height: 1.4285em;
}
