<!DOCTYPE html>
<html>

<head>
    <title>FutureSCOOT UI</title>
</head>

<body>
    <h1><%= title %></h1>
    <fs-app></fs-app>
    <!-- TODO: Need to put the app URI here when it's available --
    <script src="<%= locationOfAppBundle %>" type="text/javascript"></script -->
</body>

</html>