.card {
  display: inline-block;
  width: 290px;
  margin: 0.5em 0.875em;
  border-radius: 4px;
  box-shadow: none !important;

  & > .extra a:hover {
    color: rgba(0,0,0,.4);
  }

  &.pass {
    background-color: #00AD68;
  }

  &.fail {
    background-color: #E7484D;
  }

  &.building {
    background-color: #2d9fd8;
  }

  &.unknown {
    background-color: #BBBBBB;
  }
}
