<div class="content">
  <div class="header project-name">
    <a target="_blank" href="{{ link }}">{{ project.name }} <span *ngIf="project.lastBuild && project.lastBuild.branch !== 'master'">{{project.lastBuild ? '(' + project.lastBuild.branch + ')' : ''}}</span></a>
  </div>
  <div class="meta" *ngIf="project.lastBuild && project.lastBuild.commit"><span class="committer">{{ initials(project.lastCommitBy) }}</span>
    <span class="tag {{ semantics(project.lastBuild.commit.message) }}">{{ initials(semantics(project.lastBuild.commit.message)) }}</span>
    <span title="{{project.lastBuild.commit.message}}">{{ removePreamble(project.lastBuild.commit.message) }}</span></div>
  <div class="description"></div>
</div>
<div class="extra content">
  <span class="build-id">
    <a target="_blank" href="{{ link }}/pipelines/{{ project.lastBuild ? project.lastBuild.id : '-' }}">
      <fa name="hashtag"></fa>
      {{ project.id }}
    </a>
  </span>
  <span class="calendar">
    <fa name="calendar"></fa>
    {{ project.lastBuild ? project.lastBuild.timeStartedFromNow : '-' }}
  </span>
</div>
