<div class="content">
  <div class="header project-name">
    <a target="_blank" href="{{link}}">{{ build.name }} {{build.lastBuild ? '(' + build.lastBuild.branch + ')' : ''}}</a>
  </div>
  <div class="meta">{{ build.lastCommitBy }}</div>
  <div class="description"></div>
</div>
<div class="extra content">
  <span class="build-id">
    <a target="_blank" href="{{link}}/pipelines/{{ build.lastBuild ? build.lastBuild.id : '-' }}">
      <fa name="hashtag"></fa>
      {{ build.id }}
    </a>
  </span>
  <span class="calendar">
    <fa name="calendar"></fa>
    {{ build.lastBuild ? build.lastBuild.timeStartedFromNow : '-' }}
  </span>
</div>
